<!-- start custom head snippets -->
<script data-ad-client="ca-pub-9115820443203140" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- favicons -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">

<!-- end custom head snippets -->
